<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateCategoriesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62248/api/CreateCategoriesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateCategoriesService"
                contract="CreateCategories.ICreateCategoriesService" name="BasicHttpBinding_ICreateCategoriesService" />
        </client>
    </system.serviceModel>
</configuration>